.cardTitle {
  font-weight: bold;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.cardBrewed {
  font-weight: normal;
  font-size: 13px;
  margin-bottom: 20px;
  color: #6cb43d;
}