.card {
  display: flex;
  margin: 20px auto 0 auto;
  padding: 10px;
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
  background-color: #f2f2f2;
  border-radius: 2px;
  flex-basis: 30%;
  flex-direction: column;
}

.cardTitle {
  font-weight: bold;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.cardSubtitle {
  font-size: 14px;
  color: #939393;
}

.cardBrewed {
  font-weight: normal;
  font-size: 13px;
  margin-bottom: 20px;
  color: #6cb43d;
}

.cardImage {
  width: 75px;
  height: 185px;
  margin: 5px auto 10px auto;
}

.cardDescription {
  font-size: 14px;
  margin-bottom: 10px;
  border-left: 2px solid #ffdc2e;
  padding-left: 10px;
}


.cardProperties {
  color: #b3b3b3;
  font-size: 13px;
  display: flex;
  flex-direction: column;
}

.cardProperties span {
  margin-top: 5px;
}

.cardProperties span span {
  color: black;
  border-bottom: 1px solid #e6e6e6;
}

.cardIngredients {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  color: #b3b3b3;
  font-size: 13px;
}

.cardIngredients span {
  color: black;
  padding-left: 5px;
}

.cardIngredients span span {
  display: block;
  padding-left: 0;
}

.cardIngredients span span span {
  display: inline;
}

.NoCardImage {
  height: 75px;
  margin: 5px auto 10px auto;
  padding: 55px;
}

.cardAdd {
  background: #939393;
  color: #464445;
  border-radius: 2px;
  border: none;
  padding: 0 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px 15px;
  color: white;
}