.pages {
  display: flex;
  margin: 0;
  padding: 10px 0 10px 0;
  justify-content: center;
  background-color: #f2f2f2;
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}

.page {
  list-style-type: none;
  margin: 0 5px;
}

.usePage {
  list-style-type: none;
  margin: 0 5px;
  font-weight: bold;
}

.page:hover {
  cursor: pointer;
}

.usePage:hover {
  cursor: pointer;
}
