#box {
  width: 100%;
  display: flex;
  background-color: antiquewhite;
}

.item {
  background-color: black;
  width: 150px;
  height: 50px;
  margin: 1px;
  color: white;
}

.item:nth-child(5) {
  flex-shrink: 15;
}
.item:nth-child(4) {
  flex-shrink: 12;
}

.item:nth-child(3) {
  flex-shrink: 9;
}

.item:nth-child(2) {
  flex-shrink: 6;
}

.item:nth-child(1) {
  flex-shrink: 3;
}