.login {
  background-color: #f2f2f2;
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}

.loginMenu {
  margin-left: auto;
  max-width: 468px;
  margin-right: auto;
  padding: 30px 30px;
}

.loginMenu input {
  margin-bottom: 10px;
}